<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
	    <Property name="log-path">d:/logs</Property>
	</Properties>
	
	<Appenders>
	
	    <!-- console appender -->
	    <Console name="console-log" target="SYSTEM_OUT">
	        <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} - %msg%n"/>
	    </Console>
	
	    <!-- file appender Sans applications -->
	    <RollingFile name="sansapp-log" fileName="${log-path}/sansapp.log" filePattern="${log-path}/sansapp-%d{yyyy-MM-dd}.log">
	        <!-- log pattern -->
	        <PatternLayout>
	            <pattern>%d{yyyy-MM-dd} - %msg%n</pattern>
	        </PatternLayout>
	
	        <!-- set file size policy -->
	        <Policies>
	            <TimeBasedTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="5 MB" />
	        </Policies>
	    </RollingFile>
	    
   	    <!-- file appender applications INCONNUE -->
	    <RollingFile name="inconnue-log" fileName="${log-path}/inconnue.log" filePattern="${log-path}/inconnue-%d{yyyy-MM-dd}.log">
	        <PatternLayout>
	            <pattern>%d{yyyy-MM-dd} - %msg%n</pattern>
	        </PatternLayout>
	        <Policies>
	            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
	        </Policies>
	    </RollingFile>
	    
	    <!-- file appender applications non listée -->
	    <RollingFile name="nonlistee-log" fileName="${log-path}/nonliste.log" filePattern="${log-path}/nonlistee-%d{yyyy-MM-dd}.log">
	        <!-- log pattern -->
	        <PatternLayout>
	            <pattern>%d{yyyy-MM-dd} - %msg%n</pattern>
	        </PatternLayout>
	
	        <!-- set file size policy -->
	        <Policies>
	            <TimeBasedTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="5 MB" />
	        </Policies>
	    </RollingFile>
	    
	    <!-- file appender logs complets -->	
	    <RollingFile name="complet-log" fileName="${log-path}/complet.log" filePattern="${log-path}/complet-%d{yyyy-MM-dd}.log">
	        <!-- log pattern -->
	        <PatternLayout>
	            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %msg%n</pattern>
	        </PatternLayout>
	
	        <!-- set file size policy -->
	        <Policies>
	            <TimeBasedTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="5 MB" />
	        </Policies>
	    </RollingFile>
	    
	</Appenders>
	
	<Loggers>    
	    <Logger name="sansapp-log" level="debug" additivity="false">     
	        <appender-ref ref="sansapp-log" level="info"/>
	       	<appender-ref ref="complet-log" level="info"/>
	    </Logger>	    
	    <Logger name="inconnue-log" level="debug" additivity="false">   
	        <appender-ref ref="inconnue-log" level="info"/>
	       	<appender-ref ref="complet-log" level="info"/>
	    </Logger>
	    <Logger name="nonlistee-log" level="debug" additivity="false">   
	        <appender-ref ref="nonlistee-log" level="info"/>
	        <appender-ref ref="complet-log" level="info"/>	        
	    </Logger>
	    <Logger name="complet-log" level="debug" additivity="false">       
	        <appender-ref ref="console-log" level="debug"/>
	        <appender-ref ref="complet-log" level="info"/>        
	    </Logger>	    
	    <Root level="info" additivity="false">
	        <AppenderRef ref="console-log"/>
	    </Root>
	</Loggers>
</Configuration>